.controls-Scroll {
    overflow-wrap: break-word;
    word-break: break-word;
}

/* Решение проблемы с переносами строк*/
.controls-Scroll pre {
    white-space: pre-wrap;
}

.controls-Scroll p {
    margin: 6px 0px 18px;
}

ul, ol {
    margin-left: 4.5ex;
}

blockquote {
    border-left: 1px solid #587ab0;
    padding: 0 0 0 8px;
    margin: 6px 16px 0 32px;
    position: relative;
    clear: both;
}

blockquote:before {
    color: #587ab0;
    content: '\e6e8';
    font-family: cbuc-icons;
    font-size: 16px;
    height: 16px;
    margin-left: -32px;
    margin-top: -1px;
    position: absolute;
    width: 24px;
}

blockquote:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

/* Copy from RichEditor\_base\Viewer\_Viewer.less */
.controls-Scroll .titleText {
    font-size: 137.5%;
    line-height: 129%;
    color: #313E78;
    font-weight: bold;
}

.controls-Scroll .subTitleText {
    font-size: 112.5%;
    line-height: 129%;
    color: #313E78;
    font-weight: bold;
}

.controls-Scroll .additionalText {
    font-size: 87.5%;
    line-height: 129%;
    color: #999999;
    font-weight: normal;
}

/*Цвета из нового БТР*/
.richEditor_Base_color_1 {
    color: #cccccc;
}
.richEditor_Base_color_2 {
    color: #326194;
}
.richEditor_Base_color_3 {
    color: #cccccc;
}
.richEditor_Base_color_4 {
    color: #117df3;
}
.richEditor_Base_color_5 {
    color: #9ea8b2;
}
.richEditor_Base_color_6 {
    color: #999999;
}
.richEditor_Base_color_7 {
    color: #943288;
}
.richEditor_Base_color_8 {
    color: #e04c50;
}
.richEditor_Base_color_9 {
    color: #72be44;
}
.richEditor_Base_color_10 {
    color: #e6525a;
}
.richEditor_Base_color_11 {
    color: #6ed4d0;
}
.richEditor_Base_color_12 {
    color: #943288;
}
.richEditor_Base_color_13 {
    color: #999999;
}
.richEditor_Base_color_14 {
    color: #424851;
}
.richEditor_Base_color_15 {
    color: #ff7033;
}
.richEditor_Base_color_16 {
    color: #fec63f;
}
.richEditor_Base_color_17 {
    color: #6ed4d0;
}
.richEditor_Base_color_18 {
    color: #d9819e;
}
.richEditor_Base_color_19 {
    color: #cccccc;
}
.richEditor_Base_color_20 {
    color: #cccccc;
}
.richEditor_Base_color_21 {
    color: #ff7d05;
}
.richEditor_Base_color_22 {
    color: #d4090e;
}
.richEditor_Base_color_23 {
    color: #999999;
}
.richEditor_Base_color_24 {
    color: #e0b84c;
}
.richEditor_Base_color_25 {
    color: #117df3;
}
.richEditor_Base_color_26 {
    color: #ff3075;
}
.richEditor_Base_color_27 {
    color: #009918;
}
.richEditor_Base_color_28 {
    color: #723eff;
}
.richEditor_Base_color_29 {
    color: #29b5cf;
}
