.SbisEnv-ParkingPage {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.SbisEnv-ParkingPage__header {
  font-size: 18px;
  color: #999;
}

.SbisEnv-ParkingContent {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 650px;
}

.SbisEnv-ParkingBody {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  display: flex;
  flex-direction: column;
  padding: 64px 32px 32px;
  position: relative;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.SbisEnv-ParkingBody__image {
  height: 300px;
  width: 300px;
  align-self: center;
  background-position: top;
  background-repeat: no-repeat;
}

.SbisEnv-ParkingBody__message {
  font-size: 24px;
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.SbisEnv-ParkingBody__details {
  font-size: 18px;
  margin-top: 12px;
}

.SbisEnv-ParkingBody__action {
  margin-top: 32px;
  padding-left: 0;
  padding-right: 0;
}

.SbisEnv-ParkingBody__action a {
  font-size: 15px;
  cursor: pointer;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #0055BB;
}

.SbisEnv-ParkingBody__action a:hover {
  text-decoration: underline;
  color: #313E78;
}

.SbisEnv-ParkingBody__footer {
  min-height: 32px;
}

/* no-image */
@media screen and (max-height: 380px) {
  .SbisEnv-ParkingBody__image {
    display: none;
  }
}

/* device-landscape */
@media screen and (max-height: 540px) and (orientation: landscape)
{
  .SbisEnv-ParkingBody__footer {
    display: none;
  }

  .SbisEnv-ParkingBody {
    flex-direction: row;
    justify-content: center;
  }
}

/* tablet-portrait, device-landscape */
@media screen and (max-width: 768px),
screen and (max-height: 540px) and (orientation: landscape)
{
  .SbisEnv-ParkingContent {
    min-width: auto;
  }

  .SbisEnv-ParkingBody {
    padding: 16px;
  }

  .SbisEnv-ParkingBody__message {
    font-size: 28px;
    line-height: normal;
    margin-top: 12px;
    padding: 0;
  }

  .SbisEnv-ParkingBody__details {
    font-size: 18px;
    margin-top: 16px;
    line-height: normal;
  }

  .SbisEnv-ParkingBody__action {
    margin-top: 16px;
  }

  .SbisEnv-ParkingBody__action a {
    font-size: 18px;
    line-height: normal;
  }
}

/* mobile-l-portrait */
@media screen and (max-width: 425px) and (orientation: portrait) {
  .SbisEnv-ParkingBody__image {
    width: 100vw;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
  }
}

.SbisEnv-Parking__lineHeight_xl {
  line-height: 32px;
}