/* stylelint-disable theme-colors */
.controls-Scroll {
  -webkit-overflow-scrolling: touch;
  color: #666;
  font-size: 15px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.controls-Scroll_shadow_top {
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
}

.controls-Scroll_shadow_bottom {
  -moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
}

.controls-Scroll_shadow_both {
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.15);
}

.controls-Scroll::-webkit-scrollbar {
  width: 6px;
}

.controls-Scroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
  visibility: hidden;
}

.controls-Scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
